.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  margin-top: 2.5em;
}
.productTableContainer {
  border: 1px double grey;
}
.productTable {
  display: block;
  height: 70vh;
  overflow-y: scroll;
  /* border: 0.1px dashed grey; */
}
.productTable th {
  border: 0.1px solid grey;
  padding: 1em;
  font-size: 1.25em;
}

.productBill {
  width: 80%;
}
.productBillContainer {
  width: max-content;
  font-size: 1.25em;
  padding: 1em;
  border: 5px double grey;
}
.productBill table th:not(:last-child),
.productBill table td {
  border: 1px dotted grey;
  padding: 0.5em;
}
.orderButton {
  display: flex;
  margin: auto;
}
.productBill button {
  padding: 0.5em;

  background: black;
  color: white;
  font-size: 1em;
}

/* MOBILE RESPONSIVENESS */
@media all and (max-width: 767px) {
  .container {
    grid-template-columns: 1fr;
  }
  .productTable {
    margin-bottom: 1em;
  }
  .productTable th {
    font-size: 1em;
    padding: 0.5em;
  }
  .productTableContainer {
    width: 90%;
  }
  .productBillContainer {
    margin: 0 auto;
    font-size: 1em;
  }
}
/* END */
