/* PRODUCTS DISPLAY CONFIG */

.showProducts {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;

  padding: 2em;
  width: 75%;
  margin: auto;
  overflow: hidden;
  grid-template-rows: auto;
  justify-items: center;
}
.showProductstitle {
  display: flex;
  justify-content: center;
  margin: 2em 0 0 0;
}
.productLink {
  text-decoration: none;
  color: black;
}

/* PRODUCTS DISPLAY CONFIG */

/*  SINGLE PRODUCT CONFIGURATION */
.singleItem {
  border-radius: 15px;
  background: #fdf7fd;
  overflow: hidden;
  margin: 1em;
  width: 95%;
  border: 1px solid rgba(0, 0, 0, 0.171);
}
.productImage {
  position: relative;
  width: 100%;
  height: 10em;
}

.productDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 0.5em;
  text-align: center;
}
.productDetails h3 + p {
  margin: 0.25em 0 0 0;
  text-transform: capitalize;
}
.productDetails p {
  max-width: 25ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.productPrice {
  display: flex;
  text-align: center;
  padding: 0.5em;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5em;
}
.productPrice button {
  /* border: 0; */
  border-radius: 10px;
  width: 75%;
  font-size: 0.75em;
  padding: 0.5em;
  margin: 0.25em auto;

  background: #efe2f8;
}
/* SINGLE PRODUCT CONFIGURATION END */
/* MOBILE RESPONSIVENESS */

@media all and (min-width: 768px) and (max-width: 900px) {
  .showProducts {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (min-width: 900px) and (max-width: 1200px) {
  .showProducts {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media all and (max-width: 767px) {
  .showProducts {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr;
  }
}
/* MOBILE RESPONSIVENESS */

/* PRODUCT BANNER CONFIGS */
.banner {
  margin: 1em 0;
}
.firstRow {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  width: 75%;
  display: flex;
  justify-content: center;
  margin: auto;
}
.firstRowItem {
  position: relative;
  width: 100%;
  height: 500px;
}

.secondRow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin: auto;
}
.secondRowItem {
  position: relative;
  width: 100%;
  height: 350px;
}
.banneritem {
  background: black;
}
.banneritem h2 {
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 10px;
  z-index: 1000;
  color: white;
  display: fixed;
}
.banneritem img {
  opacity: 0.5;
}
/* PRODUCT BANNER CONFIGS */
